.searchBox {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 6px;
  margin-bottom: 10px;
  color: rgba(164, 56, 123, 0.87);
}
.searchBox input {
  background-color: rgb(248, 237, 244);
  border-radius: 20px;
  border: 1px solid rgba(164, 56, 123, 0.87);
  color: rgba(164, 56, 123, 0.87);
  padding: 4px;
  width: 165px;
}
