.form {
  border: 2px solid rgb(248, 237, 244);
  width: 450px;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.data {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 300px;
  justify-content: space-between;
}

.data input {
  background-color: rgb(248, 237, 244);
  border-radius: 20px;
  border: 1px solid rgba(164, 56, 123, 0.87);
  color: rgba(164, 56, 123, 0.87);
  padding: 4px;
  width: 200px;
}

.error {
  color: brown;
  max-width: 260px;
}

.btn {
  width: 120px;
  padding: 6px;
  border: none;
  border-radius: 30px;
  background-color: rgba(164, 56, 123, 0.87);
  color: rgb(248, 237, 244);
}
